<div class="container relative z-50">
    <div id="navbar" class="bg-white shadow-lg fixed top-0 left-0 right-0 z-10 transition-all duration-300 ease-in-out">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16 md:h-20">
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars"></p-button>
                </div>

                <nav class="flex-1 flex items-center justify-between">
                    <!-- Desktop Navigation Links -->
                    <div class="hidden md:flex space-x-4 flex-1 justify-start">
                        <p-button routerLink="create-box" class="btn" [outlined]="true" label="Create Box" />
                        <p-button class="btn" [outlined]="true" label="Get Inspired" />
                        <p-button class="btn" [outlined]="true" label="Shop" />
                    </div>

                    <!-- Shopping Cart -->
                    <div class="hidden md:flex space-x-4 flex-1 justify-end">
                        <i class="pi pi-shopping-cart text-2xl" pBadge value="0"></i>
                    </div>
                </nav>

                <!-- Centered Logo -->
                <div class="absolute left-1/2 transform -translate-x-1/2">
                    <a routerLink="" class="block">
                        <img src="assets/images/logo-no-bg2.png" alt="Logo" class="h-12 md:h-14 w-auto">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
    <ng-template pTemplate="header">
        <span class="text-xl font-semibold">
            Menu
        </span>
    </ng-template>
    <div class="flex flex-col items-center justify-center space-y-4 mt-16">
        <p-button routerLink="create-box" [outlined]="true" label="Create Box"></p-button>
        <p-button  [outlined]="true" label="Get Inspired"></p-button>
        <p-button  [outlined]="true" label="Shop"></p-button>
    </div>
</p-sidebar>